.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    padding: min(100px, 10vmin);
}

.overview {
    font-family: "Roboto Serif";
    font-size: 1rem;
    color: #444;
    text-align: left;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.overview p {
    width: 44ch;
    text-align: center;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 80ch;
}

.article img {
    width: 400px;
}
